@import '<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">';

*{
  box-sizing: border-box;
  font-family:  'Roboto', 'sans-serif';

}
html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: rgb(255, 255, 255);
}


#root{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 969px 700px 900px 250px;
  grid-template-areas: "introduction introduction"
                       "technologies technologies"
                       "about about"
                       "foot foot"
}

.title{
  margin: 60px;
}




